

.bg-top{  /*Color de fondo de la parte superior*/
    position: relative;
    min-height: 200px;
    background: #FFB422;
}

.bg-footer{ /*Color de fondo de la parte inferior*/
    background: #FFB422;
}

.text-white{
    color: white !important;
}
.card-columns {
    -webkit-column-gap: 30px;
    column-gap: 30px;
}
.card-columns .card {
    margin-top: 10px;
}

.active{
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
    font-weight: bold;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.hidden{
    display: none;
}
.image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container{
    border-radius: 50%;
    padding: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.image_outer_container .green_icon{
    background-color: #4cd137;
    position: absolute;
    right: 5px;
    bottom: 2px;
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-radius: 50%;
}