

.bg-yellow{  /*Color de fondo de la parte superior*/
    background: #FFB422;
}

.bg-footer{ /*Color de fondo de la parte inferior*/
    background: #FFB422;
}

.text-white{
    color: white !important;
}
.card-columns {
    -webkit-column-gap: 30px;
    column-gap: 30px;
}
.card-columns .card {
    margin-top: 10px;
}

.active{
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
    font-weight: bold;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.hidden{
    display: none;
}
.image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.image_outer_container .green_icon{
    background-color: #4cd137;
    position: absolute;
    right: 5px;
    bottom: 2px;
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.vue-dropzone>.dz-preview .dz-details {
    background-color: rgba(255, 180, 34, 0.8);
}

.button-group-pills .btn {
    border-radius: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 10px;
    border-color: #bbbbbb;
    background-color: #FFF;
    color: black;
}
.button-group-pills .btn.active {
    border-color: #FFB422;
    background-color: #FFB422;
    color: #FFF;
    box-shadow: none;
}
.button-group-pills .btn:hover {
    border-color: #FFB422;
    background-color: #FFB422;
    color: #FFF;
}
.progress {
    overflow: hidden;
    height: 30px;
    background-color: #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin-bottom: 20px;
}
.progress-bar {
    width: 0;
    height: 100%;
    color: #fff;
    font-size: 2em;
    text-align: center;
    background-color: #FFB422;
}
.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
}